aside#contact
{
    width: 20%;
    height: 100%;
    scroll: fixed;
    background-color: blue;
    border-right: 1px solid white;
}

main#content
{
    padding-right: 20%;
    background-color: green;
    border-right: 1px solid black;
}