/* Side Navigation */

.side-nav-menu-item
{
    padding: 0 10px 0 10px;
}

.side-nav-menu-item:first-child
{
    padding-left: 20px;
}

.side-nav-menu-item:last-child
{
    padding-right: 20px;
}

/*--------------------*/